<h1>ホームページ作るくん</h1>

<h2>コンタクト</h2>
<div>Twitter <%= link_to "@stu345_self", "https://twitter.com/stu345_self", target: :_blank %></div>
<div>GitHub <%= link_to "st34-satoshi", "https://github.com/st34-satoshi/gpt-homepage-creator", target: :_blank %></div>